<?php
  // Define database connection constants
  define('DB_HOST', 'classmysql.engr.oregonstate.edu');
  define('DB_USER', 'cs340_ruefa');
  define('DB_PASSWORD', 'Iamownage10');
  define('DB_NAME', 'cs340_ruefa');
?>
